<% include ../partials/header %>

<div class="container">
  <a href ="/student/doubt-book"><button class="btn btn-secondary">Enter your Queries or Doubts </button></a>
  <a href ="/student/allvideos"><button class="btn btn-primary">View all Videos </button></a>
</div>

 <% include ../partials/footer %>
